h2{
  text-align: center;
  font-size: 5rem;
  font-family: monospace;
  text-decoration-color: black;
}

img{
  margin-top: 50px;
}

#watch{
  margin-left: 28%;
  font-family:monospace;
  font-size: 6rem;
  text-decoration-color: black;
}

.buttons{
  padding-left: 12%;
}

.btn{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 2.5rem;
}
